



.winner-box h2 {
  color: #ff9800;
  text-align: center;
}

.flex-1 {
  flex: 1;
}

.buzzer-box {
  display: flex;
  justify-content: center; /* centre horizontalement */
  align-items: center;     /* centre verticalement */
  margin: 2rem 0;          /* espace autour */
  height: 320px;           /* hauteur de la zone, ajustable */
}

.buzzer-button {

  min-width: 300px ;
  max-width: 500px;
  border-radius: 50% ;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction:row;
  align-items:center;
  position:relative;
  aspect-ratio: 1; 
  box-shadow: inset -4px -11px 14px 0px rgba(0,0,0,0.25), inset 4px 11px 13px 0px rgba(255,255,255,0.25);
    background-color: #A6000E;

}

.buzzer-button:hover
{
    box-shadow: inset -4px -11px 14px 0px rgba(255, 255, 255, 0.112), inset 4px 11px 13px 12px rgba(0, 0, 0, 0.145) !important ;
}

button
{
  background-color: #A6000E;
  color: white;
  border-style:hidden;
  outline:none;

}

button:hover
{
  background-color: #560007 !important ;
    color: white !important ;
  border-style:hidden !important ;
  outline:none !important ;
}


h1
{
text-align: center;
margin-bottom: 50px;
}

h2
{
  text-align: center;
  font-size: x-large;
}

.contenu
{
  margin-left: 10%;
  margin-right: 10%;
}


.form-joueur, .form-admin
{
  max-width: 600px;
  gap: 10px;
  margin : 0 auto;
}

button
{
  margin-top: 10px;
}

.contour-bloc
{
  border-radius: 10px;
  border: solid black;
  background-color: #0f1521;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.joueur, .adminview
{
margin-bottom: 30px;
width: 100%;
}

.p-password-input
{
  width: 100%;
}

